<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>FishingIT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<main>
    <a href="/" class="logo">FishingIT</a>

    <section class="card">
        <p id="category"></p>
        <h2 id="question"></h2>
        <p id="answer" class="hidden"></p>
    </section>

    <button id="show-answer">Poka&#380; odpowied&#378;</button>
    <div class="card-actions">
        <button id="next-card">Nast&#281;pna</button>
        <button id="known">Umiem</button>
        <button id="unknown">Nie umiem</button>
    </div>
</main>

<script>
    const flashcards = {{ flashcards | tojson }};
</script>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
